.button {
    margin-top: 74px;
        height: 50px;
        border-radius: 8px;
        font-weight: 500;
        background-color: rgb(65, 63, 226);
        color: #fff;
        padding: 0 32px;
        
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        border: 0;

        transition: filter 0.2s;
        

        img {
            margin-right: 15px;
        }

        &:not(:disabled):hover {
            filter: brightness(0.9);
        }

        &:disabled {
            opacity: 0.6;
            cursor:not-allowed;
        }
        
    }
